<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/login.png" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #D94838 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
                    <span class="text-600 font-medium">Let Us Help You</span>
                </div>

                <form [formGroup]="authForm">

                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Enter your registered email
                        address.</label>
                    <input id="email1" formControlName="username" type="email" placeholder="Email address" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <div></div>

                    <button pButton pRipple label="Reset My Password" class="w-full p-3 text-xl" (click)="onSubmit()"
                        style="background-color: #D94838;"></button>

                </form>

            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="codeDialog" [style]="{width: '450px'}" header="Verify Code" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">

        <div class="field col">
            <label for="price">Enter the code sent to your email address.</label>
            <input id="price" pInputText locale="en-US">
            <small class="ng-dirty ng-invalid">Please enter the six digit code sent to your email address</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Verify Code" icon="pi pi-check" class="p-button-text" style="color: #D94838;" (click)="sendcode()"></button>
    </ng-template>

</p-dialog>
