<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/glogo.png" alt="logo">
        <!-- <span>SAKAI</span> -->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" style="color: #D94838;" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button style="color: #D94838;" class="p-link layout-topbar-button"  (click)="notiMenue.toggle($event)" >
            <i class="pi pi-bell"></i>
            <span>Notification</span>
        </button>
        
        <button style="color: #D94838;" class="p-link layout-topbar-button" (click)="menu.toggle($event)" >
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>

        <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>

        <p-menu #notiMenue [popup]="true" [model]="notiItems" styleClass="notifi"></p-menu>

    </div>
</div>